{% extends "base.html" %}

{% block body %}
	{% include "diary_nav.html" %}
	<h1>日記帳アプリケーションです</h1>
	<h2>日記一覧</h2>
	<table class="table">
	<thead>
	<tr>
		<th>タイトル</th>
		<th>日付</th>
		<th>#</th>
		<th>#</th>
	</tr>
	</thead>
	<tbody>
	{% for day in day_list %}
		<tr>
		<td>{{ day.title }}</td>
		<td>{{ day.date }}</td>
		<td><a href="{% url 'diary:detail' day.pk %}">詳細</a></td>
			{% if user.is_superuser %}
			<td><a href="{% url 'diary:update' day.pk %}">更新</a></td>
			<td><a href="{% url 'diary:delete' day.pk %}">削除</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
	</table>

	{% include 'diary/page1.html' %}
{% endblock %}